.App {
  text-align: center;
}

.App .best_box {
  border: 1px solid #ccc;
  /* background-color: #eee; */
}

.App .thumnail {
  text-decoration: none;
  color: black;
}

.App .desc {
  font-size: 14px;
}
.App .price {
  color: blue;
  text-align: right;
}
